<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortFlyContainer</title>    
    <link rel="stylesheet" href="static/style.css">

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="background-color: white; color: black; font-family: 'Lightbloom', sans-serif;">
    <header class="bg-gradient-to-r from-blue-900 to-blue-500 text-white text-center py-8 rounded-full shadow-lg font-light text-4xl tracking-wider">
        <h1 class="text-4xl"> PortflyContainer </h1>
    </header>
    
    <br>
    <div class="welcome-message text-black font-robot">
        <section style="padding: 15px; margin: 40px; border: 1px solid black; border-radius: 25px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);" onmouseover="this.style.borderColor='black';" onmouseout="this.style.borderColor='white';">
            <h2 class=" text-black font-light">
                Bienvenido 

            </h2>
        
            <section style="padding: 35px; border: 1px solid black; border-radius: 10px; margin: 10px; box-shadow: 0px 8px 0px rgb(0, 0, 0);">
                <h2 style="color: black; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);">Bienvenido a mi contenedor de portafolios: </h2>
                <p style="color: black; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);"> Selecciona para poder de acceder al contenido: </p>
            </section>     
        </section>
    </div> 

    <div class="contend-prot">
        <section class="apartado text-black font-light">
            <p style="padding: 25px;"> Repositorio Primera Entrega: </p>
            <section style="display: flex; justify-content: center; align-items: center; margin: 45px; padding: 35px; border: 1px solid black; border-radius: 10px; box-shadow: 0px 8px 0px rgb(0, 0, 0);">
                <a href="https://github.com/Ron4-kw0rk3r/Portafolio-django" style="display: block; width: fit-content;">
                    <img src="https://i.ibb.co/3yvC4Z3/folder-orange.png" alt="Primera Entrega" style="transition: transform 0.3s ease-in-out; width: 25em; padding:15px;" onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
                </a>
                
            </section>
            
            <section style="margin: 45px; padding: 25px; border: 1px solid black; border-radius: 10px; box-shadow: 0px 8px 0px white;">
                <a href="https://github.com/Ron4-kw0rk3r/Portafolio-django" style="text-decoration: none;">
                    <button style="display: flex; justify-content: center; border-radius: 5px; background-color: white; color: black; transition: background-color 0.3s, color 0.3s;" onmouseover="this.style.backgroundColor='black'; this.style.color='white'; this.firstChild.style.filter='invert(100%)';" onmouseout="this.style.backgroundColor='white'; this.style.color='black'; this.firstChild.style.filter='none';">
                        <img src="https://i.ibb.co/chCN2Qq/git-icon-best-blue.png" alt="GitHub Icon" style="display: flex; justify-content: center; margin:  10px; width: 30px; vertical-align: middle; ">
                        <span style="margin: 10px; vertical-align: middle;">Github</span>
                    </button>
                </a>
            </section>
            <p style="padding: 25px;"> Repositorio Segunda Entrega: </p>

            <section style="display: flex; justify-content: center; align-items: center; margin: 45px; padding: 35px; border: 1px solid black; border-radius: 10px; box-shadow: 0px 8px 0px rgb(0, 0, 0);">
                <a href="loginv" style="display: block; width: fit-content;">
                    <img src="https://i.ibb.co/rpgzT0s/211748-folder-icon.png" alt="Primera Entrega" style="transition: transform 0.3s ease-in-out; width: 25em; padding:15px;" onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
                </a>
            </section>
            
            <section style="margin: 45px; padding: 25px; border: 1px solid black; border-radius: 10px; box-shadow: 0px 8px 0px rgb(0, 0, 0);">
                <a href="https://github.com" style="text-decoration: none;">
                    <button style="display: flex; justify-content: center; border-radius: 5px; background-color: white; color: black; transition: background-color 0.3s, color 0.3s;" onmouseover="this.style.backgroundColor='black'; this.style.color='white'; this.firstChild.style.filter='invert(100%)';" onmouseout="this.style.backgroundColor='white'; this.style.color='black'; this.firstChild.style.filter='none';">
                        <img src="https://i.ibb.co/chCN2Qq/git-icon-best-blue.png" alt="GitHub Icon" style="display: flex; justify-content: center; margin:  10px; width: 30px; vertical-align: middle; ">
                        <span style="margin: 10px; vertical-align: middle;">Github</span>
                    </button>
                </a>
            </section>
            <p style="padding: 25px;">
                Html basico presentacion Login demo:
            </p>

            <section style="display: flex; justify-content: center; align-items: center; margin: 45px; padding: 35px; border: 1px solid black; border-radius: 10px; box-shadow: 0px 8px 0px rgb(4, 4, 4);">
                <a href="/templates/login.html" style="display: block; width: fit-content;">
                    <img src="https://i.ibb.co/7XpmsRw/folder-smallest.png" alt="Primera Entrega" style="transition: transform 0.3s ease-in-out; width: 25em; padding:15px;" onmouseover="this.style.transform='scale(1.1)';" onmouseout="this.style.transform='scale(1)';">
                </a>
            </section>
            <section style="margin: 45px; padding: 25px; border: 1px solid black; border-radius: 10px; box-shadow: 0px 8px 0px rgb(0, 0, 0);">
                <a href="https://github.com" style="text-decoration: none;">
                    <button style="display: flex; justify-content: center; border-radius: 5px; background-color: white; color: black; transition: background-color 0.3s, color 0.3s;" onmouseover="this.style.backgroundColor='black'; this.style.color='white'; this.firstChild.style.filter='invert(100%)';" onmouseout="this.style.backgroundColor='white'; this.style.color='black'; this.firstChild.style.filter='none';">
                        <img src="https://i.ibb.co/chCN2Qq/git-icon-best-blue.png" alt="GitHub Icon" style="display: flex; justify-content: center; margin:  10px; width: 30px; vertical-align: middle; ">
                        <span style="margin: 10px; vertical-align: middle;">Github</span>
                    </button>
                </a>
            </section>

        </section>

    </div>
</body>
    <footer style="background: white; color: black; font-family: 'Lightbloom', sans-serif; padding: 20px; text-align: center; margin: 0; border-top: 2px solid black; border-bottom: 2px solid black;">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="margin: 0 auto; color: black;">
                <a href="https://www.linkedin.com" style="text-decoration: none; display: flex; align-items: center;">
                    <img src="https://i.ibb.co/tQ9sKry/image.png" alt="Visítanos en LinkedIn" style="margin-right: 10px; width: 50px; border-radius: 50%;">
                    <span>X -> Twitter</span>
                </a>
                <a href="https://www.facebook.com" style="text-decoration: none; display: flex; align-items: center;">
                    <img src="https://i.ibb.co/hLjw1zJ/image.png" alt="También en Facebook" style="margin-right: 10px; width: 50px; border-radius: 50%;">
                    <span>Facebook</span>
                </a>
                <a href="https://www.instagram.com" style="text-decoration: none; display: flex; align-items: center;">
                    <img src="https://i.ibb.co/zb1LNtc/image.png" alt="Entérate en Instagram" style="margin-right: 10px; width: 50px; border-radius: 50%;">
                    <span>Instagram</span>
                </a>
                <a href="https://www.x.com" style="text-decoration: none; display: flex; align-items: center;">
                    <img src="https://i.ibb.co/Lzg5WFd/image.png" alt="X Logo" style="margin-right: 10px; width: 50px; border-radius: 50%;">
                    <span>GitHub</span>
                </a>
            </div>
            <div style="margin: 0 auto; color: black;">
                <p style="margin: 0;">&copy; Copyright 2024 Ronvb-S3p</p>
            </div>
        </div>
    </footer>


</html>
